:root {
    --housing: rgba(255, 0, 0, 0.274);
    --uni: rgba(81, 202, 0, 0.274);
    --transport: rgba(27, 118, 255, 0.274);
    --social: rgba(255, 196, 0, 0.315);
    --culture: rgba(183, 0, 255, 0.301);
  }

html {
    margin: 0;
    font-family: "Open Sans", sans-serif; 
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(221, 188, 157);
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , rgb(79, 46, 16), rgb(89, 56, 25) 10%, rgb(221, 188, 157) 10%);
    background-size: 10px 10px;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

h1 {
    font-family: 'Holly Bale', sans-serif;
    align-self: center;
}

.phone {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    position: relative;
}

.phone_content {
	position: absolute;
	top: 0;
	left: 0;
	width: 91%;
	height: 95%;
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: space-around;
}

.phone_template {
    width: 100%;
    height: 100%;
    background-color: rgb(221, 188, 157);
}

.top {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    width: 21vw;
}

/* MAIN PAGE */
.button_row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 21vw;
}

.button {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 15px;
	border: 2px solid black;
	border-radius: 10px;
	width: 6vw;
	height: 5vw;
	margin: 15px;
	cursor: pointer;
	font-family: 'Holly Bale', sans-serif;
	font-size: larger;
    text-decoration: none;
    color: black;
}

.button:hover,
.search_button:hover {
    opacity: 0.8;
    scale: 1.02;
}

.housing {
    background-color: var(--housing);
}
.uni {
    background-color: var(--uni);
}
.transport {
    background-color: var(--transport);
}
.social {
    background-color: var(--social);
}
.culture {
    background-color: var(--culture);
}

.button div {
    font-size: 8vh;
}

.search_bar {
	display: flex;
	align-items: center;
	border: 2px solid black;
	border-radius: 10px;
	overflow: hidden;
	width: 19vw;
	margin: 0px 21px;
    background-color: white;
}

.search_bar input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
}

.search_button {
	padding: 1px 15px;
	border: none;
	cursor: pointer;
	height: 2vh;
    background-color: white;
}

.city_selector {
	margin-top: 10px;
	align-self: center;
}

.city_selector select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
}


/* CATEGORY SECTIONS */
#arrow {
    padding-left: 1vw; 
    text-decoration: none; 
    font-family: 'Holly Bale', sans-serif; 
    color:black;
    font-size: 2vw;
    align-self: center;
}
.section_row {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 0px 21px;
	margin-bottom: 118px;
}

.section {
    flex-basis: calc(33.33% - 10px); 
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Holly Bale', sans-serif;
	font-size: larger;
}

.section:hover {
    opacity: 0.8;
    scale: 1.02;
}

.icon {
    align-self: center;
	font-size: 4vh;
}

.subtitle {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.521);
}


/* POST PAGE */
.posts_row {
	display: flex;
	flex-direction: column;
	padding: 0px 21px;
    overflow: scroll;
    height: 70vh;
}

.post {
    display: inline-flex;
    height: 9vh;
    margin: 10px 0px;
}

.profile_picture {
    height: 7vh;
    border-radius: 4vh;
}

.post_text {
    display: flex;
	flex-direction: column;
}
